@use "mixin" as m;

body{
  font-family: 'Montserrat','Noto Sans KR', sans-serif;
  color:#333;
  font-size: 17px;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

.serif{
  font-family: 'Nanum Myeongjo', serif;
}

:root{
  --blue:#5700fa;
  --green:#00fbb9;
  --gray:#EEE;
  --dark:#333;
}

.section_summary {
  margin-bottom: 50px;
  h2 {
    font-weight: 900;
    font-size: min(8vw, 3.5em);
    line-height: 110%;
    margin-bottom: 15px;
    &.active b::before{width: 70%;}
    b{
      position: relative;
      i{
        position: relative;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        transition: width 1s;
        
        background-color: var(--green);
        @media #{m.$minLg} {
          height: 20px;
        }
        @media #{m.$maxLg} {
          height: 10px;
        }
      }
    }
  }
  p {
    font-size: 1.2em;
    font-weight: 600;
  }
}